@import 'tailwindcss';

@theme {
  --color-dark: #0c1014;
  --color-gray: #1a1e25;
  --color-light-gray: #2c3140;

  --animate-processing-bar: processing_bar 5s linear infinite;

  @keyframes processing_bar {
    0% {
      background-position: 500% 0%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color-scheme: dark;
    background-color: var(--color-dark);
}
